// HEADER 
nav
  .nav-wrapper
    .brand-logo
      a.brand-logo-button.waves-effect(href='#!', data-activates='dropdown1')
        img(src='images/logo.png', alt='')
        span.i_arrow-down
      ul#dropdown1.dropdown-content
        li: a(href='#') 40GPBS.HOST
        li: a(href='#') 100GPBS.HOST
    span.powered-by powered by INXY.COM
    a.button-collapse.right(href='#', data-activates='mobile-demo') menu
    ul#nav-mobile.right.hide-on-med-and-down
      li.active: a(href='#') Prices
      li: a(href='#') Datacenters
      li: a(href='#') Blog
      li: a(href='#') News
      li: a(href='#') Contact
      li: a.btn.waves-effect.waves-cyan Live chat
    ul#mobile-demo.side-nav
      li: a(href='#') Prices
      li: a(href='#') Datacenters
      li: a(href='#') Blog
      li: a(href='#') News
      li: a(href='#') Contact
      li: a(href='#') Live chat
